@model ecommerce.Models.Panier

@{
    ViewData["Title"] = "Details";
    Layout = "Admin";
}

<h1>Details</h1>

<div>
    <h4>Panier</h4>
    <hr />
  
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
